<%  @page_title = "ランキング" %>
<h1><%=  @page_title %></h1>

<% if @user.present? %>

<%= %>
<table class="list">
  <tr>
    
    <th>順位</th>
    <th>ユーザー名</th>
    <th>今週の勉強時間</th>
    <th>私立/国立</th>
    <th>文系/理系</th>




  </tr>
 
  <tr>
    <% @user.sort{|a,b| b[1]<=>a[1] }.each.with_index do |user, i| %>
    <td><%= "#{i+1}位" %></td>
    <td><%= "#{user.name}さん" %></td>
    <td><%= "#{user.hours}時間" %></td>
    <td><%= user.choice == 0 ? "国立" : "私立" %></td>
    <td><%= user.bunri == 0 ? "文系" : "理系"  %></td>
  </tr>
    <% end %>


</table>


<% else %>
<p>生徒がいません。</p>
<% end %>
