<%  @page_title = "ランキング" %>
<h1><%=  @page_title %></h1>

<% if @user.present? %>

<%= %>
<table class="list">
  <tr>
    
    <th>順位</th>
    <th>ユーザー名</th>
    <th>今週の勉強時間</th>


  </tr>
 
  <tr>
    <% @user.each.with_index do |user, i| %>
    <td><%= "#{i+1}位" %></td>
    <td><%= " #{user.name}さん" %></td>
    <td><%= "#{user.hours.freeze}時間" %></td>
  </tr>
    <% end %>


</table>


<% else %>
<p>生徒がいません。</p>
<% end %>
