<% @page_title = "生徒のプロフィール" %>
<h3><%= @page_title %></h3>

<table class="table table-hover", border="1">
  <tr>
    <th width="150">名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>学年</th>
    <td>
    <% if @user.grade = 0 %>
    <%= "高校一年" %>
    <% elsif @user.grade = 1 %>
    <%= "高校二年" %>
    <% elsif @user.grade = 2 %>
    <%= "高校二年" %>
    <% else %>
    <%= "浪人生" %>
    <% end %>
    </td>

  </tr>
  <tr>
    <th>志望校(国立/私立)</th>

    <td><%= @user.choice == 0 ? "国立" : "私立" %></td>
  </tr>
  <tr>
    <th>文系/理系</th>
    <td><%= @user.bunri == 0 ? "文系" : "理系"  %></td>
  </tr>
  <tr>
    <th>今日から一週間前までの勉強時間の合計</th>
    <td><%= @user.sum_by_a_week %>時間</td>
  </tr>
  <tr>
    <th>今日から一ヶ月前までの勉強時間の合計</th>
    <td><%= @user.sum_by_a_month %>時間</td>
  </tr>
  <tr>
    <th>総勉強時間</th>
    <td><%= @user.hours.sum(:hours) %>時間</td>
  </tr>
</table>


<% if @user.hours.any? %>
やったこと(<%= @user.hours.count %>件)
<%= render "hours/hours" %>
<%= will_paginate @hours %>

<% else %>
勉強のログがまだありません。
<%= link_to "ここ", hours_new_path %>から登録しよう！
<% end %>



 <% if current_user %><% else %><p>会員情報はありません。</p> <% end %>

