<% @page_title = "生徒のプロフィール" %>

<h1><%= @page_title %></h1>

<h2> 生徒の情報 </h2>




<table class="attr", border="5" rules="rows">
  <tr>
    <th width="150">名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>学年</th>
    <!-- <td><%= @user.grade == 0 ? "高校三年生" : "浪人生" %></td> -->
  </tr>
  <tr>
    <th>志望校(国立/私立)</th>

    <td><%= @user.choice == 0 ? "国立" : "私立" %></td>
  </tr>
  <tr>
    <th>文系/理系</th>
    <td><%= @user.bunri == 0 ? "文系" : "理系"  %></td>
  </tr>
  <tr>
    <th>今週の勉強時間</th>
    <td></td>
  </tr>
  <tr>
    <th>今月の勉強時間</th>
    <td></td>
  </tr>
  <tr>
    <th>総勉強時間</th>
    <td></td>
  </tr>
</table>





<!-- <% if current_user %><% else %><p>会員情報はありません。</p> <% end %>-->

